*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
documentation
doc/
log/
lib/bundler/man
pkg
rdoc
specs/reports
specs/tmp
specs/version_tmp
specs/ksvalidator
tmp
test*
.DS_Store
